<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments :: common-head}"></th:block>
    <title>Post Details</title>
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <th:block th:replace="~{fragments :: header}"></th:block>

        <main>
            <div class="container">
                <h1 class="fs-2 my-3">Post Details</h1>

                <div th:if="${successMessage}">
                    <p class="text-success" th:text="${successMessage}"></p>
                </div>

                <div class="mb-2">
                    <a th:href="@{/posts}" class="text-decoration-none">&lt; Back</a>
                </div>

                <article>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title fs-5" th:text="${post.title}"></h2>
                            <p class="card-text" th:text="${post.content}"></p>

                            <div th:if="${#authentication.principal.user.id == post.user.id}" class="d-flex">
                                <a th:href="@{/posts/__${post.id}__/edit}"
                                    class="btn btn-outline-primary d-block me-1">Edit</a>

                                <form th:action="@{/posts/__${post.id}__/delete}" method="post"
                                    onsubmit="return confirm('Are you sure you want to delete this post?');">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </main>

        <th:block th:replace="~{fragments :: footer}"></th:block>
    </div>
    <!-- END WRAPPER -->

    <th:block th:replace="~{fragments :: scripts}"></th:block>
</body>

</html>