<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments :: common-head}"></th:block>
    <title>Edit Post</title>
</head>

<body>
    <!-- WRAPPER -->
    <div class="wrapper">
        <th:block th:replace="~{fragments :: header}"></th:block>

        <main>
            <div class="container">
                <h1 class="fs-2 my-3">Edit Post</h1>

                <div class="mb-2">
                    <a th:href="@{/posts}" class="text-decoration-none">&lt; Back</a>
                </div>

                <form th:action="@{/posts/__${post.id}__}" method="post" th:object="${editPostForm}">
                    <div class="form-group mb-3">
                        <label for="title">Title</label>
                        <div th:if="${#fields.hasErrors('title')}" class="text-danger small mb-2" th:errors="*{title}">
                        </div>
                        <input type="text" class="form-control" th:field="*{title}">
                    </div>

                    <div class="form-group mb-3">
                        <label for="content">Content</label>
                        <div th:if="${#fields.hasErrors('content')}" class="text-danger small mb-2"
                            th:errors="*{content}"></div>

                        <textarea class="form-control" th:field="*{content}"></textarea>
                    </div>

                    <div>

                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </div>
                </form>
            </div>
        </main>

        <th:block th:replace="~{fragments :: footer}"></th:block>
    </div>
    <!-- END WRAPPER -->

    <th:block th:replace="~{fragments :: scripts}"></th:block>
</body>

</html>